body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 239, 231);
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: flex;
}
.slide{
    
    transition: 2s;
}
/*css for manual navigation*/
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}
.manual.btn{
    border: 2px solid rgb(104, 150, 37);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

